{% extends "base.html" %}
{% block title %}Об авторе{% endblock %}
{% load static %}

{% block content %}
    <div class="container" >
        <div class="row">
            <div class="col-12">
                <h1>Об авторе проекта</h1>
                <h2>Ирина Иконникова</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <p>С 2008 по 2021 работала инженером-конструктором.</p>
                <p>В настоящее время прохожу обучение в Yandex-практикуме.</p>
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <img src="http://localhost/yatube/media/images/1.jpg" >
            </div>
        </div>
    </div>
{% endblock %} 
 
  